<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>company details</h1>

    <table>
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Company Place</th>
                <th>Industry</th>
                <th>Positions</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <th>{{details.company_name}}</th>
                <th>{{details.company_place}}</th>
                <th>{{details.company_industry}}</th>
                <th>{{details.company_job_positions}}</th>
            </tr>

        </tbody>
    </table>
<a href="{% url 'edit_company' details.company_id %}">edit</a>
</body>
</html>