<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>dashboard</h1>
<a href="{% url 'logout' %}" class="btn btn-danger">logout</a>
<a href="{% url 'change_password' %}" class="btn btn-success">change password</a>
<a href="{% url 'profile' %}" class="btn btn-success">profile settings</a>
<a href="{% url 'add_company' %}" class="btn btn-success">add company</a>
<a href="{% url 'view_company' %}" class="btn btn-success">list company</a>

</body>
</html>